html, body{
    overflow:hidden;
}
#titlepanel
{
    background-color: cadetblue;
    height: 100%;
    width: 100%;
    margin: 0px;
    position:relative;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
#bg_image
{
    background-image: url("images/desert2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#mainpanel
{
    z-index: 3;
    position: absolute;
    background-color: black;
    height: 98%;
    top:1%;
    width: 70%;
    right:0.5%;
    bottom:1%;
    border: 1px solid black;
}
#introduction
{
    z-index: 2;
    position:absolute;
    top:50%;
    background-color: black;
    padding-top: 50px;
    padding-bottom:50px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}
#Title{
    padding:10px;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 3vw;

}
#TitleDescription{
    color: white;
    background-color: black;
    text-align:center;
    font-size: 1.5vw;
}
#introDiv
{
    height:100%;
    width:100%;
    background-color: black;
}
#section1{
    width:100%;
    height:20%;
    background-color: black;
    color: white;
    font-size:1vw;
    margin-left: 2%;
    margin-top: 2%;
}
#skillsDiv{
    width:40%;
    height:60%;
    background-color: black;
    color: white;
    float:left;
    font-size:2vw;
    margin-left:2%;
}
#skillsDivContainer{
    height:79%;
    width:100%;
    border: 1px solid white;
}
#projectsDiv{
    position: absolute;
    right:2%;
    width:50%;
    height:60%;
    background-color: black;
    font-size:2vw;
    color:white;
    margin-left:2%;
    float:left;
}